
.main-div {
	position: relative;

	& > .paper {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		height: 500px;
		margin: 20px;
		text-align: center;
		display: inline-block;

		& > .stepper-div {
			position: relative;
			max-width: 700px;
			width: 100%;
			height: 35px;
			margin: auto;
		}

		& > .content-div {
			position: relative;
			padding: 50px 0 0 0;
		}

		& > .action-div {
			padding: 30px 0;
		}
	}
}
